            @import "common";
            @import "buttons";
            @import "video";
            @import "orderSelect";
            @import "compass/typography/text/ellipsis";
            body {
                background: white !important;
            }
            
            @mixin anmotion {
                transition: all .3s ease-in-out .2s;
                -moz-transition: all .3s ease-in-out .2s;
                /* Firefox 4 */
                -webkit-transition: all .3s ease-in-out .2s;
                /* Safari 和 Chrome */
                -o-transition: all .3s ease-in-out .2s;
            }
            
            .frame {
                width: 100%;
                height: 1000px;
            }
            
            .productListAreas {
                width: 100%;
                height: auto;
                background: white;
                border-radius: 6px;
                min-height: 300px;
                @include anmotion;
                position: relative;
            }
            
            .waitWork {
                .titleName {
                    font-size: $font-size;
                    color: $gray-dark;
                    height: 55px;
                    line-height: 55px;
                    padding-left: 20px;
                }
            }
            
            .titleNameWork {
                height: 55px;
                position: relative;
                padding-top: 12px;
                .name {
                    font-size: $font-size-sm;
                    color: $gray;
                    margin-left: 20px;
                }
                .search {
                    width: 56px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 1.2rem;
                    color: #666666;
                    border-radius: 4px;
                    text-align: center;
                    background: #fff;
                    border: 1px solid #999999;
                    cursor: pointer;
                    &:hover {
                        color: #333;
                    }
                }
                .createPro {
                    position: absolute;
                    right: 30px;
                    width: 120px;
                    height: 30px;
                    border: 1px solid #fe5453;
                    border-radius: 4px;
                    text-align: center;
                    color: #fff;
                    font-size: 1.4rem;
                    padding-top: 6px;
                    cursor: pointer;
                    background-color: #fe5453;
                    cursor: pointer;
                    .newAdd {
                        width: 14px;
                        height: 14px;
                        margin-right: 5px;
                        background: url(/resources/images/provider/add.png);
                        background-size: 14px 28px;
                        background-position-y: 14px;
                    }
                    &:hover {
                        background-color: #fe2220;
                        .newAdd {
                            background-position-y: -14px;
                        }
                    }
                }
                input {
                    background: #F6F9F9;
                    border: none;
                    border: 1px solid $gray-light;
                    border-radius: 4px;
                    width: 240px;
                    height: 30px;
                    line-height: 30px;
                    padding-left: 5px;
                    font-size: $font-size-sm;
                    color: $gray-dark;
                    margin-left: 10px;
                    margin-right: 10px;
                    outline: none;
                }
                div,
                img,
                input {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            
            $noNeedpad:20px;
            $areaWidth:1110px;
            $areaMidWidth:1020px;
            $smallMinWidth:900px;
            $ba:#bababa;
            $smallWidth:780px;
            $areaMinMidWidth:1140px;
            $areaMinWidth:1240px;
            .lineTop {
                width: 100%;
                position: absolute;
                height: 1px;
                left: 0;
                border: 1px solid $e;
            }
            
            .nodaiban {
                height: 36px;
                width: 95%;
                margin: 0 auto;
                margin-top: 20px;
                margin-bottom: 20px;
                border-radius: 4px;
                color: $border-line;
                font-size: $font-size-sm;
                border: 1px solid $border-line;
                padding-left: 10px;
                line-height: 34px;
            }
            
            @mixin cardhead {
                .cardH {
                    height: 39px;
                    border-bottom: 1px solid $border-line;
                    font-size: 0;
                    position: relative;
                    padding-left: 15px;
                    padding-right: 15px;
                    div {
                        display: inline-block;
                        vertical-align: top;
                    }
                    .title {
                        line-height: 39px;
                        font-size: $font-size-base;
                        color: $gray-dark;
                        width: 100%;
                        @include ellipsis;
                        font-weight: bold;
                    }
                    .point {
                        width: 40px;
                        height: 20px;
                        margin-left: 5px;
                        @media screen and (min-width: 1276px) {
                            margin-left: 25px;
                        }
                        border-radius: 68px;
                        position: relative;
                        top: 8px;
                        text-align: center;
                        border: 1px solid $gray-light;
                        &:hover {
                            .showDeil {
                                display: block !important;
                            }
                        }
                        .showPoint {
                            text-align: center;
                            line-height: 20px;
                            color: $gray-light;
                            font-size: $font-size-sm;
                        }
                        .showDeil {
                            width: 130px;
                            height: 97px;
                            background: url(/resources/images/flow/points.png);
                            position: absolute;
                            top: -99px;
                            left: -44px;
                            display: none;
                            div {
                                color: $gray-dark;
                                font-size: $font-size-base;
                                display: block;
                            }
                            .proPoint {
                                margin-top: 15px;
                                margin-bottom: 15px;
                                span {
                                    margin-left: 10px;
                                    color: $red-base;
                                    font-size: $font-size-lg;
                                    font-weight: bold;
                                }
                            }
                            .cusPoint {
                                span {
                                    margin-left: 10px;
                                    color: #F6A623;
                                    font-size: $font-size-lg;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    .user {
                        position: absolute;
                        right: 15px;
                        top: 12px;
                        font-size: $font-size-sm !important;
                        color: $gray;
                    }
                }
            }
            
            .productListAreas .setCard {
                font-size: 0;
                height: auto;
                padding-left: 20px;
                .waitCard {
                    width: ($smallWidth - $noNeedpad*3)/3;
                    @media screen and (min-width: 780px) and (max-width: 1029px) {
                        width: ($areaMidWidth - $noNeedpad*3)/3;
                    }
                    @media screen and (min-width: 1030px) {
                        width: ($areaWidth - $noNeedpad*3)/3;
                    }
                    margin-right: 10px;
                    margin-bottom: 30px;
                    border: 1px solid $ba;
                    border-radius: 6px;
                    @include anmotion;
                    display: inline-block;
                    vertical-align: top;
                    @include cardhead;
                    .cardContent {
                        img {
                            width: 70px;
                            height: 70px;
                            margin-left: 20px;
                            margin-top: 20px;
                            margin-bottom: 20px;
                            display: inline-block;
                            vertical-align: top;
                            @media screen and (max-width: 775px) {
                                margin-bottom: 10px;
                                margin-top: 10px;
                            }
                        }
                        .setContent {
                            display: inline-block;
                            vertical-align: top;
                            margin-top: 25px;
                            margin-left: 20px;
                            width: 56%;
                            @media screen and (max-width: 775px) {
                                margin-top: 0px;
                                width: 210px;
                            }
                            .listName {
                                font-size: 14px;
                                font-weight: bold;
                                color: $gray;
                                margin-bottom: 8px;
                                line-height: 18px;
                                @include ellipsis;
                            }
                            .lastTime {
                                font-size: $font-size-sm;
                                color: $gray-light;
                                line-height: 16px;
                                margin-bottom: 8px;
                            }
                            .your {
                                height: 16px;
                                color: #fe5453 !important;
                                line-height: 18px;
                                margin-bottom: 8px;
                                font-size: 12px;
                            }
                            .user {
                                height: 16px;
                                color: #666 !important;
                                line-height: 18px;
                                margin-bottom: 8px;
                                font-size: 12px;
                            }
                        }
                    }
                }
                .waitCard:nth-child(3n) {
                    margin-right: 0px !important;
                }
            }
            
            .toChange .setCard {
                .waitCard,
                .otherCard {
                    cursor: pointer;
                    width: ($smallMinWidth - $noNeedpad*3)/3 !important;
                    @media screen and (min-width: 905px) and (max-width: 1229px) {
                        width: ($areaMinMidWidth - $noNeedpad*3)/3 !important;
                    }
                    @media screen and (min-width: 1230px) {
                        width: ($areaMinWidth - $noNeedpad*3)/3 !important;
                    }
                }
            }
            
            .cardLine {
                width: 100%;
                height: 1px;
                padding-right: 20px;
                padding-left: 20px;
                div {
                    width: 100%;
                    height: 100%;
                    background: $border-line;
                }
            }
            
            .otherWork {
                .titleName {
                    font-size: $font-size;
                    color: $gray-dark;
                    height: 65px;
                    line-height: 65px;
                    padding-left: 20px;
                    display: inline-block;
                    vertical-align: middle;
                }
                .orderSelect {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 50px;
                    width: 240px;
                }
                .setCard {
                    .otherCard {
                        padding-left: 0px !important;
                        width: ($smallWidth - $noNeedpad*3)/3;
                        @media screen and (min-width: 780px) and (max-width: 1029px) {
                            width: ($areaMidWidth - $noNeedpad*3)/3;
                        }
                        @media screen and (min-width: 1030px) {
                            width: ($areaWidth - $noNeedpad*3)/3;
                        }
                        margin-right: 10px;
                        margin-bottom: 30px;
                        border: 1px solid $ba;
                        border-radius: 6px;
                        @include anmotion;
                        display: inline-block;
                        vertical-align: top;
                        @include cardhead;
                        position: relative;
                        .cardContent {
                            img {
                                width: 84px;
                                height: 56px;
                                position: absolute;
                                top: 65px;
                                // bottom: 35px;
                                right: 15px;
                            }
                            .setContent {
                                display: inline-block;
                                vertical-align: top;
                                margin-top: 25px;
                                margin-left: 15px;
                                width: 60%;
                                .listName {
                                    height: 40px;
                                    width: 200px;
                                    line-height: 22px;
                                    font-size: $font-size-sm;
                                    color: $gray;
                                    margin-bottom: 10px;
                                    overflow: hidden;
                                    @media screen and (max-width: 775px) {
                                        width: 150px;
                                    }
                                }
                                .lastTime {
                                    font-size: $font-size-sm;
                                    color: $gray;
                                    line-height: 20px;
                                    overflow: hidden;
                                }
                                .your {
                                    height: 20px;
                                    color: #666666;
                                    line-height: 18px;
                                    margin-top: 16px;
                                    font-size: 12px;
                                    margin-bottom: 20px;
                                }
                                .user {
                                    height: 20px;
                                    color: #666666;
                                    line-height: 18px;
                                    margin-top: 16px;
                                    font-size: 12px;
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
            
            .errorTr {
                color: transparent !important;
            }
            
            .errorItem {
                color: $red-base;
                margin-left: 10px;
            }
            
            .redWord {
                border: 1px solid $red-base !important;
            }