 @import "common";
 @import "buttons";
 @import "mixins/indexScreen";
 @import "normalize";
 .hide {
     display: none;
 }
 
 .bordercolor {
     border: 1px solid #FE5453;
 }
 
 .show {
     display: block;
 }
 
 html {
     background-color: #fff;
 }
 
 body {
     margin-top: 0 !important;
     background-color: #fff;
 }
 
 .pages {
     position: relative;
     background: #fff;
     height: 1080px;
 }
 
 //弹框信息
 /* 手机端-作者页 */
 
 .webuploader-element-invisible {
     display: none;
 }
 
 @import "compass/css3";
 @import "common";
 //每个表格的内部样式
 .fc-grid .much {
     width: 100%;
     height: 20px;
     background: url(../../images/timebox/one.png) no-repeat;
     cursor: pointer;
 }
 
 .fc-grid .much:hover {
     background-position-y: -20px;
 }
 
 .fc-week .fc-day .menu {
     width: 100%;
     max-height: 100px;
     list-style-type: none;
     padding-left: 0;
     overflow: auto;
 }
 
 .orderSelect {
     position: absolute;
     width: 152px;
     height: 33px;
     @media screen and (max-width: 775px) {
         width: 101px !important;
     }
     @media screen and (min-width: 775px) and (max-width: 1025px) {
         width: 138px !important;
     }
 }
 
 .orderSelect ul {
     position: absolute;
     width: 100%;
     top: 100%;
     left: 0;
     display: none;
     z-index: 3;
     background: white;
     cursor: pointer;
     border: 1px solid #999;
     border-top: 1px solid #979797;
     max-height: 300px;
     border-radius: 4px;
     overflow: auto;
 }
 
 .orderSelect ul li {
     width: 100%;
     height: 36px;
     text-align: center;
     line-height: 36px;
     color: #666;
     font-size: 1.4rem;
 }
 
 //下拉框样式修改
 .city-select .city-info {
     width: 100%;
     overflow: auto;
     max-height: 69px;
 }
 
 .city-select .city-cont dd {
     width: 100%;
 }
 
 .city-select .city-cont {
     overflow: auto
 }
 
 .city-select .city-pavilion {
     width: 100%;
     z-index: 20;
 }
 
 .city-select {
     width: 100%;
     top: -43px;
     @media screen and (max-width: 775px) {
         top: -37px;
     }
 }
 
 //生成排期表
 .advice {
     margin-top: -140px;
     padding-left: 20px;
     font-size: 12px;
     color: #666666;
 }
 
 .last {
     position: relative;
     top: 22px;
     margin-top: 41px;
     .best {
         cursor: pointer;
         width: 18%;
         margin: 0 auto;
         height: 40px;
         background: #FE5453;
         border-radius: 4px;
         color: #fff;
         line-height: 40px;
         font-size: 14px;
         text-align: center;
     }
 }
 
 //textarea 修改
 .matter {
     width: 100%;
     height: auto;
     min-height: 90px;
     padding: 6px 6px;
     margin-top: -7px;
     font-size: 13px;
     @media screen and (max-width: 775px) {
         min-height: 51px;
         margin-top: -7px;
     }
 }
 
 //头部的样式
 .orderItem {
     width: 30%;
     text-align: left;
     display: inline-block;
     position: absolute;
     margin-top: 12px;
     line-height: 3rem;
     .mR8 {
         width: 50px;
         display: inline-block;
         line-height: 47px;
         font-size: 12px;
         color: #666666;
     }
     input {
         border: 1px solid #D1D1D1;
         display: inline-block;
         width: 240px !important;
         height: 30px;
         margin-left: 8px;
         border-radius: 4px;
         padding-left: 10px;
         @media screen and (max-width: 775px) {
             width: 127px !important;
         }
         @media screen and (min-width: 775px) and (max-width: 1025px) {
             width: 197px !important;
         }
     }
     .proerr {
         color: red;
         margin-left: 60px;
         font-size: 12px;
         margin-top: -4px;
     }
 }
 
 .divine {
     font-weight: bold;
     position: absolute;
     right: 47.2%;
     margin-top: 28px;
     @media screen and (max-width: 775px) {
         right: 46%;
     }
     @media screen and (min-width: 775px) and (max-width: 1025px) {
         right: 46.5%;
     }
 }
 
 #projectNameError {
     left: 22px;
 }
 
 #dayTimeError {
     left: 31%;
     @media screen and (max-width: 775px) {
         left: 29%;
     }
     @media screen and (min-width: 775px) and (max-width: 1025px) {
         left: 29%;
     }
     .mR8 {
         width: 25px;
     }
 }
 
 //修改排期表原有样式的叠加
 .fc-view {
     height: 993px;
     @media screen and (max-width: 775px) {
         height: 774px !important;
     }
 }
 
 //报价单title部分
 .titles {
     height: 54px;
     border-bottom: 1px solid #D1D1D1;
     span {
         width: 100%;
         text-align: left;
         font-size: 16px;
         font-weight: bold;
         display: inline-block;
         line-height: 21px;
         padding-left: 22px;
         padding-top: 16px;
     }
 }
 
 //表格插件样式修改
 #calendar {
     width: 1068px !important;
     margin: 0 auto;
     margin-top: 69px !important;
     @media screen and (max-width: 775px) {
         width: 720px !important;
     }
     @media screen and (min-width: 775px) and (max-width: 1025px) {
         width: 972px !important;
     }
     tbody {
         tr {
             position: relative;
             .fc-header-left {
                 position: absolute;
                 right: 43%;
                 width: 150px;
                 margin-top: -51px;
                 z-index: 2;
                 @media screen and (max-width: 775px) {
                     right: 40%;
                 }
                 @media screen and (min-width: 775px) and (max-width: 1025px) {
                     right: 42%;
                 }
             }
             .fc-header-center {
                 position: absolute;
                 right: 320px;
                 top: 73px;
                 line-height: 33px;
                 .fc-header-title h2 {
                     font-weight: bold;
                     position: absolute;
                     right: 23rem;
                 }
             }
             .fc-state-default.fc-corner-left {
                 width: 28px;
                 height: 28px;
                 background: url(../../images/timebox/start.png) no-repeat;
                 background-size: 28px;
                 background-position-y: -28px;
                 border: 1px solid #E3E3E3;
                 border-radius: 4px;
                 margin-right: 78px;
                 .fc-text-arrow {
                     display: none;
                 }
             }
             .fc-state-default.fc-corner-left:hover {
                 background-position-y: 0px;
             }
             .fc-state-default.fc-corner-right {
                 padding: 0;
                 text-align: center;
                 width: 28px;
                 height: 28px;
                 background: url(../../images/timebox/end.png) no-repeat;
                 background-size: 28px;
                 background-position-y: -28px;
                 border: 1px solid #E3E3E3;
                 border-radius: 4px;
                 margin-left: 6px;
                 cursor: pointer;
                 .fc-text-arrow {
                     display: none;
                 }
             }
             .fc-state-default.fc-corner-right:hover {
                 background-position-y: 0px;
             }
             .fc-button-today {
                 width: 60px !important;
                 background: none !important;
                 font-size: 12px;
                 color: #999;
                 line-height: 28px;
             }
             .fc-button-today:hover {
                 color: #666;
             }
         }
     }
     thead .fc-first {
         line-height: 32px;
         .fc-sun {
             background: #E3E3E3;
         }
         .fc-sat {
             background: #E3E3E3;
         }
         .fc-fri,
         .fc-thu,
         .fc-wed,
         .fc-tue,
         .fc-mon {
             background: #F0F2F5;
         }
     }
     tbody .fc-first .fc-other-month {
         background: #F8F8F8;
     }
     tbody .fc-last .fc-other-month {
         background: #F8F8F8;
     }
     tbody .fc-week .fc-other-month {
         background: #F8F8F8;
     }
     tbody .fc-day-number {
         width: 32px;
         height: 32px;
         text-align: center;
         line-height: 32px;
         font-size: 20px;
         color: #999;
         margin-top: 8px;
         margin-right: 15px;
         @media screen and (max-width: 775px) {
             margin-top: 6px;
             margin-right: 5px;
             width: 28px;
             height: 28px;
             line-height: 28px;
             font-size: 17px;
         }
     }
     tbody .fc-state-highlight {
         background: none;
     }
     tbody .fc-day {
         width: 154px;
         height: 130px;
         @media screen and (max-width: 775px) {
             height: 85px;
         }
     }
     .city-select .city-cont {
         padding-top: 15px !important;
         padding-left: 0px;
     }
     .city-select .city-cont dd a.active {
         background: #F0F2F5 !important;
         color: #000 !important;
     }
     .city-select .city-cont dd a {
         width: 100% !important;
         padding-left: 15px !important;
         line-height: 18px !important;
         margin: 0;
         font-size: 13px;
         @media screen and (max-width: 775px) {
             font-size: 13px;
         }
         @media screen and (min-width: 775px) and (max-width: 1025px) {
             font-size: 13px;
         }
     }
     .city-select .city-cont dd {
         padding-bottom: 0;
     }
     .city-select .city-info {
         background-color: #fff;
     }
 }
 
 .onlyul {
     pointer-events: none;
 }
 
 .fc-grid .fc-day-content {
     padding: 0;
 }