<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jms="http://www.springframework.org/schema/jms" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		                   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		                   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		                   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		                   http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		                   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		                   http://www.springframework.org/schema/jms   
   					       http://www.springframework.org/schema/jms/spring-jms-4.0.xsd" >
	
	<bean id="threadPoolTaskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="20" />
		<property name="queueCapacity" value="1000" />
		<property name="threadNamePrefix" value="jmsTaskExecutor-" />
		<property name="allowCoreThreadTimeOut" value="true"></property>
	</bean>
	
	<!-- 可以生成ConnectionFactory,由JM提供 -->
	<bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<!-- ActiveMQ服务地址 -->
        <property name="brokerURL" value="${mq.brokerURL}" />
        <property name="userName" value="${mq.userName}"></property>
        <property name="password" value="${mq.password}"></property> 
	</bean>
	
	<bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
		<property name="connectionFactory" ref="targetConnectionFactory" />
		<property name="maxConnections" value="${mq.pool.maxConnections}" />
	</bean>
	
	<!-- Spring 管理由JM生成的ConectionFactory即targetConnectionFactory -->
	<bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
		<!-- 目标ConnectionFactory对应真实的可以产生JMS Connection的ConnectionFactory -->
		<property name="targetConnectionFactory" ref="pooledConnectionFactory"/>
	</bean>
	
	<!-- 项目告知函 -->
	<bean id="projectInfoLetterTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestinationName" value="${projectInfoLetterQueue}"/>
	</bean>
	
	<!-- 策划启动函 -->
	<bean id="projectPlanStartTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestinationName" value="${projectPlanStartQueue}"/>
	</bean>
	
	<!-- 项目确认启动函 -->
	<bean id="projectConfirmStartTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestinationName" value="${projectConfirmStartQueue}"/>
	</bean>
	
	<!-- 项目制作启动函 -->
	<bean id="projectProductStartTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestinationName" value="${projectProductStartQueue}"/>
	</bean>
	
	<!-- 项目样片修改意见 -->
	<bean id="projectSampleMideaTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestinationName" value="${projectSampleMideaQueue}"/>
	</bean>
	
	<!-- 项目验收确认函 -->
	<bean id="projectAcceptConfirmTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestinationName" value="${projectAcceptConfirmQueue}"/>
	</bean>
	
	<!-- 项目验收函 -->
	<bean id="projectAcceptLetterTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestinationName" value="${projectAcceptLetterQueue}"/>
	</bean>
	
	<!-- 监听协同人更新通知 -->
	<bean id="projectSynergyQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>${projectSynergyQueue}</value>
		</constructor-arg>
	</bean>
	
	<!-- 可以获取session的MessageListener,邮件队列监听事件 -->
	<bean id="projectSynergyConsumerSessionAwareMessageListener"
		class="com.paipianwang.activiti.mq.listener.ProjectSynergyConsumerAwareMessageListener"></bean>
		
	<jms:listener-container container-type="default"
		connection-factory="connectionFactory" acknowledge="auto" concurrency="10"
		task-executor="threadPoolTaskExecutor">
		<jms:listener destination="${projectSynergyQueue}"
			ref="projectSynergyConsumerSessionAwareMessageListener" method="onMessage" />
	</jms:listener-container>
</beans>