@import "common";
@import "buttons";
@import "video";
@import "bootstrap-grid";
@import "companyCommon";
@import "compass/typography/text/ellipsis";

body {
    height: auto;
    background: $gray-dark !important;
}

.pagePhone {
    height: auto;
    padding-top: 3rem;
}

.tagOne {

    div:nth-child(1) {
        color: $red-base !important;
    }
    .checkLine {
        left: 0 !important;
    }
}

.tagTwo {

    div:nth-child(2) {
        color: $red-base !important;
    }
    .checkLine {
        left: 33.33% !important;
    }
}


.tagThree {

    div:nth-child(3) {
        color: $red-base !important;
    }
    .checkLine {
        left: 66.6% !important;
    }
}

.menuTag {
    height: 1.25rem;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    font-size: 0;
    position: fixed;
    width: 100%;
    top: 1.5rem;
    background: $gray-dark;
    z-index: 50;
    div {
        height: 100%;
        width: 33.33%;
        font-size: $size40;
        color: white;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        line-height: 1.23rem;
        position: relative;
    }

    .checkLine {
        height: 1px !important;
        width: 33.33%;
        position: absolute !important;
        bottom: -1px;
        left: 0;
        background: $red-base;
        -webkit-transition: transform .4s, all .8s;
        -moz-transition: transform .4s, all .8s;
        -o-transition: transform .4s, all .8s;
        transition: transform .4s, all .8s;
    }

    div:nth-child(2) {
        &:before {
            content: '';
            height: 100%;
            width: 1px;
            background: $gray;
            position: absolute;
            top: 0;
            left: 0;
        }
        &:after {
            content: '';
            height: 100%;
            width: 1px;
            background: $gray;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .checkTag {
        color: $red-base;
    }
}


.search {
    white-space: nowrap;
    font-size: 0;
    padding-left: 0.4rem;
    width: 100%;
    overflow: auto;
    margin-bottom: 0.2rem;
    li {
        width: 1.5rem;
        height: 0.8rem;
        background: $red-base;
        font-size: $size36;
        color: $border-line;
        line-height: 0.8rem;
        background: #424242;
        display: inline-block;
        vertical-align: top;
        border-radius: 1rem;
        text-align: center;
        margin-right: 0.2rem;
    }
    .checkSearch {
        color: white !important;
        background: $red-base;
    }
}

.search::-webkit-scrollbar {
    width: 0px;
}

.search::-webkit-scrollbar {
    display: none
}

.searchProject {
    width: 9rem;
    height: 1rem;
    position: absolute;
    top: 1rem;
    left:50%;
    margin-left: -4.5rem;
    input {
        width: 100%;
        height: 100%;
        line-height: 1rem;
        outline: none;
        font-size: $size34;
        color: $gray-light;
        border: 1px solid #d1d1d1;
        background: #424242;
        border-radius: 71px;
        padding-right: 1rem;
        padding-left: 0.5rem;
    }
    img {
        width: 1rem;
        position: absolute;
        right: 0.3rem;
        top: 0.55rem;
        padding: 0.2rem;
    }
}

.otherCard {
    width: 10rem;
    height: auto;
    margin: 0 auto;
    background-color: rgba(102, 102, 102, 0.5);
    border-radius: 0.16rem;
    margin-top: 0.1rem;
    .cardTop {
        height: 1.31rem;
        width: 100%;
        border-bottom: 1px solid $gray-light;
        position: relative;
        padding-right: 0.4rem;
        padding-left: 0.4rem;

        .cardName {
            width: 9rem;
            line-height: 1.3rem;
            @include ellipsis;
            display: inline-block;
            vertical-align: top;
            font-size: $size40;
            color: $e3;
        }
        .cardG {
            width: 1rem;
            height: 0.5rem;
            display: inline-block;
            vertical-align: top;
            font-size: $size36;
            border: 1px solid $gray-light;
            border-radius: 0.68rem;
            text-align: center;
            line-height: 0.5rem;
            position: relative;
            top: 0.35rem;
            color: $gray-light;
            font-weight: bold;
        }
    }

    .cardBot {
        height: 2.33rem;
        width: 100%;
        position: relative;
        padding-right: 0.4rem;
        padding-left: 0.4rem;
        div {
            color: $gray-light;
            font-size: $size34;
            width: 6rem;
            @include ellipsis;
        }
        .user,
        .your {
            position: relative;
            top: 0.3rem;
            font-size: $size36;
            color: $gray-light;
        }
        .your {
            color: $red-base !important;
        }
        .taskName {
            position: relative;
            top: 0.6rem;
        }
        .taskTime {
            position: relative;
            top: 0.9rem;
        }
        .taskImg {
            width: 2.15rem;
            height: 1.46rem;
            position: absolute;
            right: 0.5rem;
            top: 0.4rem;
        }
    }
}

.redWord {
    border: 1px solid $red-base!important;
}

.MissionCard {
    width: 10rem;
    height: auto;
    margin: 0 auto;
    background-color: rgba(102, 102, 102, 0.5);
    border-radius: 0.16rem;
    margin-top: 0.1rem;
    .cardTop {
        height: 1.31rem;
        width: 100%;
        border-bottom: 1px solid $gray-light;
        position: relative;
        padding-right: 0.4rem;
        padding-left: 0.4rem;
        .cardState {
            width: 1.2rem;
            height: 0.5rem;
            color: white;
            font-size: $size30;
            text-align: center;
            line-height: 0.5rem;
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: 0.35rem;
            background: $red-base;
            border-radius: 0.68rem;
        }
        .cardName {
            width: 7rem;
            line-height: 1.3rem;
            @include ellipsis;
            display: inline-block;
            vertical-align: top;
            font-size: $size40;
            color: $e3;
        }
        .cardG {
            width: 1rem;
            height: 0.5rem;
            display: inline-block;
            vertical-align: top;
            font-size: $size36;
            border: 1px solid $gray-light;
            border-radius: 0.68rem;
            text-align: center;
            line-height: 0.5rem;
            position: relative;
            top: 0.35rem;
            color: $gray-light;
            font-weight: bold;
        }
    }

    .cardBot {
        height: 2.33rem;
        width: 100%;
        position: relative;
        padding-right: 0.4rem;
        padding-left: 0.4rem;
        div {
            color: $gray-light;
            font-size: $size34;
            width: 6rem;
            @include ellipsis;
        }
        .user,
        .your {
            position: relative;
            top: 0.3rem;
            font-size: $size36;
            color: $gray-light;
        }
        .your {
            color: $red-base !important;
        }

        .taskName {
            position: relative;
            top: 0.6rem;
        }
        .taskTime {
            position: relative;
            top: 0.9rem;
        }
        .taskImg {
            width: 1.4rem;
            height: 1.4rem;
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
        }
    }
}


#daiban {
    width: 100%;
    font-size: 0;
    text-align: center;
    display: none;
    img {
        width: 4rem;
        height: 3.24rem;
        margin-top: 1.5rem;
    }
    div {
        font-size: 0.46rem;
        color: $gray-light;
        margin-top: 1rem;
    }
}