@import "common";
@import "buttons";
@import "video";
@import "bootstrap-grid";
@import "companyCommon";
@import "compass/typography/text/ellipsis";
@import "pflow";

$greenColor:#7ED321;
$yellowColor:#F6A623;

.title {
    position: relative;
    width: 100%;
    padding: 0.6rem 0.6rem 0 0rem;
    height: 1.5rem;
    font-size: 0;
    div,
    img {
        display: inline-block;
        vertical-align: top;
    }
    img {
        width: 0.4rem;
        height: 0.4rem;
        margin-left: 0.6rem;
    }

    div {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    div:nth-child(2) {
        font-size: $size40;
        color: white;
    }
    div:nth-child(4) {
        font-size: $size36;
        color: $greenColor;
    }
}



.itemWord {
    font-size: 0;
    margin-top: 0.6rem;
    .itemTitle {
        font-size: $size36;
        color: $gray-light;
        display: inline-block;
        vertical-align: top;
        margin-left: 0.8rem;
        width: 2.6rem;
    }

    .itemContent {
        font-size: $size36;
        color: $e3;
        display: inline-block;
        vertical-align: top;
    }
    .itemTextAreaTitle {
        font-size: $size36;
        color: $gray-light;
        margin-left: 0.8rem;
        width: 2.6rem;
    }

    .itemTextArea {
        display: block;
        width: 100%;
        font-size: $size36;
        color: $e3;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        line-height: 0.5rem;
        margin-top: 0.2rem;
    }
}

.line {
    width: 100%;
    background: #222;
    height: 2px;
    margin-top: 0.6rem;
}



.item {
    width: 100%;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    position: relative;
    margin-top: 0.5rem;
    font-size: 0;

    img {
        width: 0.5rem;
        height: 0.5rem;
        position: absolute;
        right: 0.6rem;
        top: -0.15rem;
    }
    .content {
        width: 100%;
        height: auto;

        .contentItem {
            width: 100%;
            .name {
                font-size: $size36;
                color: $e3;
            }
            .itemContent {
                font-size: $size36;
                color: $e3;
                line-height: 0.5rem;
                margin-top: 0.3rem;
                margin-bottom: 0.5rem;
            }
        }
    }
    input {
        width: 100%;
        height: 0.9rem;
        border: 1px solid $border-line;
        padding-left: 10px;
        border-radius: 0.1rem;
        outline: none;
        background: transparent;
        margin-top: 0.3rem;
        font-size: $size36;
        color: $e3;
        margin-bottom: 0.5rem;
        display: none;
    }
    .itemLine {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed $border-line;
    }
}