@import "common";
@import "buttons";
@import "video";
@import "bootstrap-grid";
@import "companyCommon";
@import "compass/typography/text/ellipsis";
@import "pflow";
$e2:#222;
// 供应商信息修改
.providerbox {
    // 策划供应商
    .plan {
        .title {
            .pic {
                position: absolute;
                top: 2.11rem;
                left: 0.6rem;
                width: 0.159rem;
                height: 0.289rem;
                background: url(/resources/images/pFlow/plan.png);
                background-size: 0.2rem;
                color: #fff;
            }
            span {
                color: #E3E3E3;
                font-size: 0.36rem;
                position: absolute;
                top: 2.11rem;
                left: 0.97rem;
            }
        }
        .planbox {
            .name {
                div {
                    font-size: 0.34rem;
                    color: #D1D1D1;
                    position: absolute;
                    top: 3.76rem;
                    left: 0.8rem;
                }
                input {
                    width: 6.4rem;
                    height: 0.9rem;
                    border-radius: 0.08rem;
                    background: #333;
                    font-size: 0.34rem;
                    color: #D1D1D1;
                    padding-left: 0.399rem;
                    border: 1px solid #D1D1D1;
                    position: absolute;
                    top: 3.39rem;
                    left: 3.5rem;
                }
                .error {
                    font-size: $size30;
                    color: $red-base;
                    position: absolute;
                    top: 4.35rem;
                    left: 3.5rem;
                }
            }
            .phone {
                div {
                    line-height: 0.5rem;
                    font-size: 0.34rem;
                    color: #D1D1D1;
                    position: absolute;
                    top: 5rem;
                    left: 0.8rem;
                }
                input {
                    width: 6.4rem;
                    height: 0.9rem;
                    border-radius: 0.08rem;
                    background: #333;
                    font-size: 0.34rem;
                    color: #D1D1D1;
                    padding-left: 0.399rem;
                    border: 1px solid #D1D1D1;
                    position: absolute;
                    top: 4.79rem;
                    left: 3.5rem;
                }
                .error {
                    font-size: $size30;
                    color: $red-base;
                    position: absolute;
                    top: 5.65rem;
                    left: 3.5rem;
                }
            }
        }
    } // 制作供应商
    .make {
        .title {
            .pic {
                position: absolute;
                top: 6.81rem;
                left: 0.6rem;
                width: 0.159rem;
                height: 0.289rem;
                background: url(/resources/images/pFlow/plan.png);
                background-size: 0.2rem;
                color: #fff;
            }
            span {
                color: #E3E3E3;
                font-size: 0.36rem;
                position: absolute;
                top: 6.81rem;
                left: 0.97rem;
            }
        }
        .planbox {
            .name {
                div {
                    font-size: 0.34rem;
                    color: #D1D1D1;
                    position: absolute;
                    top: 8.3rem;
                    left: 0.8rem;
                }
                input {
                    width: 6.4rem;
                    height: 0.9rem;
                    border-radius: 0.08rem;
                    background: #333;
                    font-size: 0.34rem;
                    color: #D1D1D1;
                    padding-left: 0.399rem;
                    border: 1px solid #D1D1D1;
                    position: absolute;
                    top: 8rem;
                    left: 3.5rem;
                }
                .error {
                    font-size: $size30;
                    color: $red-base;
                    position: absolute;
                    top: 9rem;
                    left: 3.5rem;
                }
            }
            .phone {
                div {
                    line-height: 0.5rem;
                    font-size: 0.34rem;
                    color: #D1D1D1;
                    position: absolute;
                    top: 9.65rem;
                    left: 0.8rem;
                }
                input {
                    width: 6.4rem;
                    height: 0.9rem;
                    border-radius: 0.08rem;
                    background: #333;
                    font-size: 0.34rem;
                    color: #D1D1D1;
                    padding-left: 0.399rem;
                    border: 1px solid #D1D1D1;
                    position: absolute;
                    top: 9.4rem;
                    left: 3.5rem;
                }
                .error {
                    font-size: $size30;
                    color: $red-base;
                    position: absolute;
                    top: 10.3rem;
                    left: 3.5rem;
                }
            }
        }
    }
}

.error {
    width: 100% !important;
    display: none;
}

.clientbox {
    // 客户联系人
    .name {
        div {
            font-size: 0.34rem;
            color: #D1D1D1;
            position: absolute;
            top: 2.25rem;
            left: 0.8rem;
        }
        input {
            width: 7.4rem;
            height: 0.9rem;
            border-radius: 0.08rem;
            background: #333;
            font-size: 0.34rem;
            color: #D1D1D1;
            padding-left: 0.399rem;
            border-width: 0.02rem;
            border-color: #D1D1D1;
            position: absolute;
            top: 1.91rem;
            left: 2.601rem;
        }
    } //客户电话
    .phone {
        div {
            font-size: 0.34rem;
            color: #D1D1D1;
            position: absolute;
            top: 3.65rem;
            left: 0.8rem;
        }
        input {
            width: 7.4rem;
            height: 0.9rem;
            border-radius: 0.08rem;
            background: #333;
            font-size: 0.34rem;
            color: #D1D1D1;
            padding-left: 0.399rem;
            border-width: 0.02rem;
            border-color: #D1D1D1;
            position: absolute;
            top: 3.31rem;
            left: 2.601rem;
        }
    }
}

// 取消和确认
.surebox {
    position: fixed;
    bottom: 3.03rem;
    .cancel {
        width: 3.6rem;
        height: 1rem;
        background: #999999;
        box-shadow: 0 0.02rem 0.03rem 0 rgba(0, 0, 0, 0.27);
        border-radius: 100rem;
        position: absolute;
        left: 1.4rem;
        div {
            text-align: center;
            font-size: 0.36rem;
            color: #FFFFFF;
            line-height: 1rem;
        }
    }
    .sure {
        width: 3.6rem;
        height: 1rem;
        background: #FE5453;
        box-shadow: 0 0.02rem 0.03rem 0 rgba(0, 0, 0, 0.27);
        position: absolute;
        border-radius: 100rem;
        left: 5.8rem;
        div {
            text-align: center;
            font-size: 0.36rem;
            color: #FFFFFF;
            line-height: 1rem;
        }
    }
}