    @import "common";
    @import "buttons";
    @import "video";
    @import "bootstrap-grid";
    @import "companyCommon";
    @import "compass/typography/text/ellipsis";
    @import "pflow";

    body {
        background-color: $gray-dark !important;
    }

    .taskDescription {
        line-height: 0.5rem;
        margin-top: 0.3rem;
        font-size: $size36;
        color: $gray-light;
        a {
            color: $red-base;
        }
    }

    .setContent {
        width: 10rem;
        height: auto;
        margin: 0 auto;

        .contentTitle {
            position: relative;
            width: 100%;
            margin-top: 0.6rem;
            .names {
                font-size: $size40;
                color: white;
                margin-top: 0.2rem;
            }
            .time {
                font-size: $size30;
                color: $gray-light;
                margin-top: 0.2rem;
            }
        }

        .content {
            padding-top: 1.3rem;
            .item {
                font-size: 0;
                margin-bottom: 0.5rem;
                position: relative;

                &:after {
                    content: attr(data-content);
                    color: $red-base;
                    font-size: $size30;
                    position: absolute;
                    left: 2rem;
                    top: 1rem;
                }

                .name {
                    width: 2.1rem;
                    font-size: $size34;
                    color: $border-line;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 0.2rem;
                }

                .watermarkUrl{
                    width: 7.3rem;
                    height: .9rem;
                    background: transparent;
                    font-size: $size34;
                    padding-left: 10px;
                    font-size: $size34;
                    color: $border-line;
                    display: inline-block;
                    vertical-align: middle;
                    a{
                        color:white !important;
                        &:hover{
                             color:white !important;
                        }
                    }
                }  

                input {
                    width: 7.3rem;
                    height: .9rem;
                    background: transparent;
                    font-size: $size34;
                    border: 1px solid $gray-light;
                    border-radius: 0.08rem;
                    padding-left: 10px;
                    font-size: $size34;
                    color: $border-line;
                    display: inline-block;
                    vertical-align: middle;
                }

                .upload {
                    width: 2.4rem;
                    height: .9rem;
                    line-height: .9rem;
                    background: transparent;
                    font-size: $size34;
                    border: 1px solid $gray-light;
                    border-radius: 0.08rem;
                    font-size: $size34;
                    color: $border-line;
                    text-align: center;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 0.2rem;
                }

                .orderSelect {
                    width: 7.3rem;
                    height: .9rem;
                    background: transparent;
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    input {
                        width: 100%;
                        height: 100%;
                        font-size: $size34;
                        border: 1px solid $gray-light;
                        border-radius: 0.08rem;
                    }
                    div {
                        height: 100%;
                        width: 0.9rem;
                        border-left: 1px solid $gray-light;
                        background: url(/resources/images/pFlow/select.png) no-repeat center;
                        background-size: 0.5rem 0.5rem;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
    }

    .btnInput {
        width: 8rem;
        margin: 0 auto;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    #toSubmitForm {
        width: 8rem;
        height: 1rem;
        text-align: center;
        line-height: 1rem;
        font-size: .36rem;
        color: white;
        border-radius: 1rem;
        margin: 0 auto;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        border: none;
    } //进度条
    .upProgress {
        padding-left: 0.3rem;
        font-size: $font-size-sm;
        color: $gray;
        position: relative;
        width: 92%;
        padding-top: 1.5rem;
        display: none;
    }

    .progress {
        height: 0.3rem !important;
        border-radius: 0.9rem !important;
        margin-top: 0rem !important;
        margin-bottom: 0px !important;
    }

    .progress-bar {
        /*     background-color: #337ab7;
background-image: none !important; */
    }

    .proTitle {
        font-size: $size30;
        color: $gray-light;
    }

    .upIng {
        position: absolute;
        font-size: $size30;
        color: $gray-light;
        right: 0px;
        top: 1.5rem;
    }

    .upSuccess {
        position: absolute;
        font-size: $size30;
        color: $gray-light;
        right: 0px;
        top: 1.5rem;
        display: none;
        img {
            position: relative;
            top: -2px;
            margin-right: 0.1rem;
            width: 0.3rem;
        }
    }

    .upError {
        position: absolute;
        font-size: $size30;
        color: $gray-light;
        right: 0px;
        top: 1.5rem;
        display: none;
        img {
            position: relative;
            top: -2px;
            margin-right: 0.1rem;
            width: 0.3rem;
        }
    }

    .noFile {
        color: $gray-light;
        font-size: $font-size-sm;
        margin-left: 0.4rem;
        display: none;
    }

    .longInput {
        width: 4.2rem !important;
    }


    .errorItem,
    .errorItemArea {
        position: relative;
    }

    .errorItem:after {
        content: attr(data-content);
        color: $red-base;
        font-size: $size30;
        position: absolute;
        left: 1.4rem;
        top: 0.4rem;
    }

    .errorItemArea:after {
        content: attr(data-content);
        color: $red-base;
        font-size: $size30;
        position: absolute;
        left: 1.4rem;
        top: 0.85rem;
    }


    .webuploader-pick {
        background: transparent !important;
        padding: 0 !important;
    }

    .webuploader-pick-hover {
        background: transparent !important;
    }


    .modelTool {
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 20;
        position: relative;
        display: none;
        .success {
            position: absolute;
            top: 3rem;
            left: 50%;
            margin-left: -4.5rem;
            width: 9rem;
            height: 8rem;
            background: white;
            text-align: center;
            border-radius: 0.2rem;
            .modelTitle {
                height: 1.5rem;
                font-size: 0.46rem;
                color: $gray-dark;
                border-bottom: 1px solid $gray-light;
                line-height: 1.5rem;
            }

            div:nth-child(2) {
                color: $gray-dark;
                color: #333;
                font-size: 0.4rem;
                margin-bottom: 0.4rem;
                line-height: 0.6rem;
                padding: 0.5rem;
                padding-top: 2rem;
            }
            div:nth-child(3) {
                color: white;
                font-size: 0.36rem;
                width: 3.2rem;
                height: 1rem;
                line-height: 1rem;
                text-align: center;
                border-radius: 100px;
                background: $gray-light;
                box-shadow: 0 4px 8px 0;
                position: absolute;
                left: 1rem;
                bottom: 1rem;
            }
            div:nth-child(4) {
                color: white;
                font-size: 0.36rem;
                width: 3.2rem;
                height: 1rem;
                line-height: 1rem;
                text-align: center;
                border-radius: 100px;
                background: $red-base;
                box-shadow: 0 4px 8px 0;
                position: absolute;
                right: 1rem;
                bottom: 1rem;
            }
        }
    }


    #daiban {
        width: 100%;
        font-size: 0;
        text-align: center;
        display: none;
        img {
            width: 4rem;
            height: 3.24rem;
            margin-top: 1.5rem;
        }
        div {
            font-size: 0.46rem;
            color: $gray-light;
            margin-top: 1rem;
        }
    }

    .utoInfo {
        position: absolute;
        width: 7.3rem;
        left: 2.3rem;
        max-height: 3rem;
        z-index: 3;
        display: none;
        background: black;
        cursor: pointer;
        border: 1px solid $gray-light;
        border-top: 1px solid #979797;
        border-radius: 4px;
        overflow: auto;
        li {
            width: 100%;
            height: 0.8rem;
            text-align: center;
            line-height: 0.8rem;
            color: $gray;
            font-size: $size30;
            border-bottom: 1px solid $gray-light;
            &:hover {
                background: $f0;
            }
        }
    }