    @import "common";
    @import "buttons";
    @import "video";
    @import "bootstrap-grid";
    @import "companyCommon";
    @import "compass/typography/text/ellipsis";
    @import "pflow";
    $e2:#222;
    .title {
        font-size: $size40;
        color: white;
        margin-top: 0.6rem;
        margin-left: 0.8rem;
    }
    
    .item {
        position: relative;
        height: auto;
        width: 100%;
        margin-top: 0.5rem;
        .file {
            width: 1.2rem;
            height: 1.2rem;
            display: inline-block;
            vertical-align: top;
            margin-left: 0.8rem;
        }
        .fileMore {
            width: 0.5rem;
            height: 0.5rem;
            position: absolute;
            top: 0.3rem;
            right: 0.8rem;
        }
        .fileContent {
            width: 7rem;
            height: 1.2rem;
            display: inline-block;
            vertical-align: top;
            div {
                width: 100%;
                line-height: 15px;
                color: $e3;
            }
            div:nth-child(1) {
                font-size: $size36;
                margin-top: 0.2rem;
                @include ellipsis;
            }
            div:nth-child(2) {
                font-size: $size30;
                margin-top: 0.1rem;
                @include ellipsis;
            }
        }
        .fileContentMore {
            margin-top: 0.5rem;
            width: 100%;
            height: 1.7rem;
            background: $e2;
            position: relative;
            font-size: 0;
            display: none;
            .moreItem {
                width: 33%;
                text-align: center;
                display: inline-block;
                vertical-align: top;
                img {
                    width: 0.5rem;
                    height: 0.5rem;
                    position: relative;
                    top: 0.4rem;
                    left: 0.5rem;
                }
                div {
                    font-size: $size36;
                    color: #E3E3E3;
                    position: relative;
                    top: 0.6rem;
                    left: 0.5rem;
                }
            }
            .look {
                img {
                    left: -0.01rem !important;
                }
                div {
                    left: -0.01rem !important;
                }
            }
            .share {
                img {
                    left: -0.5rem !important;
                }
                div {
                    left: -0.5rem !important;
                }
            }
        }
    }
    
    #daiban {
        width: 100%;
        font-size: 0;
        text-align: center;
        display: none;
        img {
            width: 4rem;
            height: 3.24rem;
            margin-top: 1.5rem;
        }
        div {
            font-size: 0.46rem;
            color: $gray-light;
            margin-top: 1rem;
        }
    }
    
    .modelTool {
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 20;
        position: relative;
        display: none;
        .success {
            position: absolute;
            top: 3rem;
            left: 50%;
            margin-left: -4.5rem;
            width: 9rem;
            height: 8rem;
            background: white;
            text-align: center;
            border-radius: 18px;
            .modelTitle {
                height: 1.5rem;
                font-size: 0.46rem;
                color: $gray-dark;
                border-bottom: 1px solid $gray-light;
                line-height: 1.5rem;
            }
            img {
                width: 0.8rem;
                height: 0.8rem;
                position: absolute;
                right: -0.3rem;
                top: -0.3rem;
            }
            div:nth-child(3) {
                color: $gray-dark;
                color: #333;
                font-size: 0.4rem;
                line-height: 0.6rem;
                padding: 0.5rem;
                padding-top: 1.5rem;
                word-wrap: break-word;
            }
            button {
                outline: none;
                border: none;
                color: white;
                font-size: 0.36rem;
                width: 7rem;
                height: 1rem;
                line-height: 1rem;
                text-align: center;
                border-radius: 100px;
                box-shadow: 0 4px 8px 0;
                margin: 0 auto;
            }
        }
    }