@import "common";
@import "buttons";
@import "video";
@import "bootstrap-grid";
@import "companyCommon";
@import "compass/typography/text/ellipsis";
@import "pflow";
$e2:#222;
// 价格信息修改
.pricebox {
    // 预估价格
    margin-top: 0.5rem;
    .porecast {
        div {
            font-size: 0.34rem;
            color: #D1D1D1;
            width: 1.8rem;
            height: 0.47rem;
            display: inline-block;
            margin-left: 0.8rem;
        }
        input {
            width: 6.66rem;
            height: 0.9rem;
            border-radius: 0.08rem;
            background: #333;
            font-size: 0.34rem;
            color: #D1D1D1;
            padding-left: 0.399rem;
            border: 1px solid #999999;
        }
        span {
            font-size: 0.34rem;
            color: #D1D1D1;
        }
        p {
            color: #FE5453;
            font-size: 0.09rem;
            height: 0.5rem;
            margin-left: 2.9rem;
            display: block;
            margin-top: 0.2rem;
        }
    }
}

// 取消和确认
.surebox {
    margin-top: 0.5rem;
    .cancel {
        width: 3.6rem;
        height: 1rem;
        background: #999999;
        box-shadow: 0 0.02rem 0.03rem 0 rgba(0, 0, 0, 0.27);
        border-radius: 100rem;
        position: absolute;
        left: 1.4rem;
        div {
            text-align: center;
            font-size: 0.36rem;
            color: #FFFFFF;
            line-height: 1rem;
        }
    }
    .sure {
        width: 3.6rem;
        height: 1rem;
        background: #FE5453;
        box-shadow: 0 0.02rem 0.03rem 0 rgba(0, 0, 0, 0.27);
        position: absolute;
        border-radius: 100rem;
        left: 5.8rem;
        div {
            text-align: center;
            font-size: 0.36rem;
            color: #FFFFFF;
            line-height: 1rem;
        }
    }
}