    @import "common";
    @import "buttons";
    @import "video";
    @import "bootstrap-grid";
    @import "companyCommon";
    @import "compass/typography/text/ellipsis";
    @import "pflow";

     body{
        background-color: $gray-dark !important;
     }


    .setContent {
        width: 10rem;
        height: auto;
        margin: 0 auto;

        .contentTitle {
            position: relative;
            width: 100%;
            margin-top: 0.6rem;
            .name {
                font-size: $size40;
                color: white;
                position: absolute;
                left: 0;
            }
            .time {
                font-size: $size30;
                color: $gray-light;
                position: absolute;
                right: 0;
            }
        }

        .content {
            padding-top: 1rem;
            .item {
                font-size: 0;
                margin-bottom: 0.4rem;
                position: relative;

                &:after {
                    content: attr(data-content);
                    color: $red-base;
                    font-size: $size30;
                    position: absolute;
                    left: 2rem;
                    top: 0.9rem;
                }

                .name {
                    width: 1.7rem;
                    font-size: $size34;
                    color: $border-line;
                    display: inline-block;
                    vertical-align: middle;
                }
                input {
                    width: 7.3rem;
                    height: .9rem;
                    background: transparent;
                    font-size: $size34;
                    border: 1px solid $border-line;
                    border-radius: 0.08rem;
                    padding-left: 10px;
                    font-size: $size34;
                    color: $border-line;
                    display: inline-block;
                    vertical-align: middle;
                }
                
                .upload{
                    width: 2.4rem;
                    height: .9rem;
                    line-height: .9rem;
                    background: transparent;
                    font-size: $size34;
                    border: 1px solid $border-line;
                    border-radius: 0.08rem;
                    font-size: $size34;
                    color: $border-line;
                    text-align: center;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 0.2rem;
                }

                .orderSelect {
                    width: 7.3rem;
                    height: .9rem;
                    background: transparent;
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    input {
                        width: 100%;
                        height: 100%;
                        font-size: $size34;
                        border: 1px solid $border-line;
                        border-radius: 0.08rem;
                    }
                    div {
                        height: 100%;
                        width: 0.9rem;
                        border-left: 1px solid $border-line;
                        background: url(/resources/images/pFlow/select.png) no-repeat center;
                        background-size: 0.5rem 0.5rem;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
    }


     //进度条
    .upProgress {
        padding-left: 0.3rem;
        font-size: $font-size-sm;
        color: $gray;
        position: relative;
        width: 92%;
        padding-top: 0.3rem;
    }

    .progress {
        height: 0.12rem;
        border-radius: 0.9rem !important;
        margin-top: 0.1rem;
        margin-bottom: 0px !important;
    }

    .progress-bar {
        /*     background-color: #337ab7;
background-image: none !important; */
    }

    .upIng {
        position: absolute;
        font-size: $font-size-sm;
        color: $gray;
        right: 0px;
        top: 0.3rem;
    }

    .upSuccess {
        position: absolute;
        font-size: $font-size-sm;
        color: $gray;
        right: 0px;
        top: 0.3rem;
        display: none;
        img {
            position: relative;
            top: -2px;
            margin-right: 0.1rem;
            width: 0.14rem;
        }
    }

    .upError {
        position: absolute;
        font-size: $font-size-sm;
        color: $gray;
        right: 0px;
        top: 0.3rem;
        display: none;
        img {
            position: relative;
            top: -2px;
            margin-right: 0.1rem;
            width: 0.14rem;
        }
    }

    .noFile {
        color: $gray-light;
        font-size: $font-size-sm;
        margin-left: 0.4rem;
        display: none;
    }

    .longInput {
        width: 4.2rem !important;
    }



    .errorItem,
    .errorItemArea {
        position: relative;
    }

    .errorItem:after {
        content: attr(data-content);
        color: $red-base;
        font-size: $size30;
        position: absolute;
        left: 1.4rem;
        top: 0.4rem;
    }

    .errorItemArea:after {
        content: attr(data-content);
        color: $red-base;
        font-size: $size30;
        position: absolute;
        left: 1.4rem;
        top: 0.85rem;
    }